*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
    background-color: #000033;
}

.header-box{
    display: flex;
    padding: 10px;
    border: solid 1px rgb(18, 71, 92);
    justify-content: space-between;
    align-items: center;
}

.logo-box h1{
    color: white;
    border: solid 1px white;
    border-radius: 100%;
    padding: 5px 2px;
    cursor: pointer;
    transition: .2s;
}

.logo-box h1:hover{
    background-color: white;
    color: black;
}

.navbar-icon{
    height: 20px;
}

.resume-icon{
    height: 20px;
}

.navbar-box ul{
    display: flex;
    gap: 20px;
}

.navbar-box li{
    padding: 5px 10px;
    list-style: none;
    border-radius: 5px;
    transition: .2s;
    border: solid 1px #000033;
}

.navbar-box li:hover{
    border: solid 1px rgb(152, 152, 202);
    background-color: #111180;
}

.navbar-box a{
    color: skyblue;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.resume{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
    border-radius: 5px;
    border: none;
    background-color: skyblue;
    cursor: pointer;
    transition: .2s;
}

.resume:hover{
    background-color: rgb(74, 175, 214);
}